@page "/counter/{currentCount:int?}"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div class="container">
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <EditForm OnValidSubmit="HandleValidSubmit" Model="@counter">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputNumber class="form-control mt-2" @bind-Value="counter.Value" />
        <button class="btn btn-secondary mt-2" type="submit">Set value</button>
    </EditForm>
</div>

@code {
    CounterModel counter = new CounterModel();  

    [Parameter]
    public int currentCount { get; set; } = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void HandleValidSubmit()
    {
        currentCount = counter.Value;
    }
}
