@page "/devices"
@inject HttpClient Http

<PageTitle>Devices</PageTitle>

<h1>Devices</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Descr</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices.Data.Items)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>@device.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ResponseData<ProductListModel<Device>>? devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await Http.GetFromJsonAsync<ResponseData<ProductListModel<Device>>>("https://localhost:7002/api/devices/");
        var a = 1;
    }
}
