@page
@model WEB_253505_PAVLOVICH.UI.Areas.Admin.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить устройство</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Device.Name" class="control-label">Название</label>
                <input asp-for="Device.Name" class="form-control" />
                <span asp-validation-for="Device.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.Description" class="control-label">Описание</label>
                <input asp-for="Device.Description" class="form-control" />
                <span asp-validation-for="Device.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.CategoryId" class="control-label">Категория</label>
                <select asp-for="Device.CategoryId" class ="form-control" asp-items="@Model.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="Device.Price" class="control-label">Цена</label>
                <input asp-for="Device.Price" class="form-control" />
                <span asp-validation-for="Device.Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Image" class="control-label">Изображение</label>
                <input asp-for="@Model.Image" type="file" class="form-control" />
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-4">
                    <i class="fa-solid fa-plus"></i> Добавить
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="mb-3">Вернуться к списку устройств</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
