@page
@model WEB_253505_PAVLOVICH.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Админка</h1>

<p>
    <a class="btn btn-primary"
       asp-page="Create">
        <i class="fa-solid fa-plus"></i> Добавить устройство
    </a>
</p>

<div id="catalog">
    @{
        await Html.RenderPartialAsync("_PaginationPartial", new
        {
            CurrentPage = Model.CurrentPage,
            TotalPages = Model.TotalPages,
            Devices = Model.Devices,
            Admin = true,
        });
    }
</div>
