@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var controller = ViewContext.RouteData.Values["controller"]?
                                          .ToString()?
                                          .ToLower() ?? String.Empty;

    var area = ViewContext.RouteData.Values["area"]?
                                    .ToString()?
                                    .ToLower() ?? string.Empty;
}

<!--nav links-->
<a class="navbar-brand" href="#">25350094</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller == "home" ? "active" : "")" 
              asp-controller="Home" asp-action="Index">
        Лб 1
    </a>
    <a class="nav-item nav-link @(controller == "Product" ? "active" : "")" 
              asp-controller="Product" asp-action="Index">
        Каталог
    </a>
    <a class="nav-item nav-link  @(area == "Admin" ? "active" : "")"
              asp-area="Admin" asp-page="/Index">
        Администрирование
    </a>
</div>